<div  class="form-style-3">
<form [formGroup]="feedbackEditor" (ngSubmit)="onSubmit()">
    <label>
        <span>Name*</span>
        <input type="text" formControlName="name">
    </label>

    <label>
        <span>Email*</span>
        <input type="email" formControlName="email">
    </label>

    <label>
        <span>Feedback*</span>
        <input type="radio" formControlName="feedback" value="Great">Great
        <input type="radio" formControlName="feedback" value="Okay">Okay
        <input type="radio" formControlName="feedback" value="Not good">Not good
    </label>

    <label>
        <span>Comments</span>
        <textarea formControlName="comment"></textarea>
    </label>

    <div class="sub">
        <button type="submit">Submit Feedback</button>
    </div>
</form>
</div>

<!-- <p>{{feedbackEditor.get('name').value}}</p> -->